{% extends 'index.html' %}
{% block style %}
<style>
    #div{
        max-width:100%;
    }
    #stuff{
        padding-top:8vh;
    }
    .about{
        width:100%;
    
    }
    .team{
        width:100%;
    }
</style>
{% endblock style %}
{% block body %}
<section class="about">
    <h1>About Us</h1>
    <p style="font-weight: bold">
      ECO SORT
      </p>
    <div class="about-info">
        <div class="about-img">
            <img src="
cc_logo-removebg-preview.png" alt="logo">
        </div>
        <div>
        <p> A waste management system is a streamlined 
            process that organizations use to dispose of, reduce, reuse, and prevent waste. 
            Also known as waste disposal, it is an approach where companies implement 
            comprehensive strategies to efficiently manage wastes from their origin until their final disposal.
        </p>
            <button>Read More...</button>
        </div>
    </div>
</section>

<section class="team">
    <h1>Meet Our Team</h1>
    <div class="team-cards">
       
        <div class="card">
            <div class="card-img">
                <img src=
"rohan.png" alt="User 1">
            </div>
            <div class="card-info">
                <h2 class="card-name">Rohan </h2>
                <p class="card-role"></p>
                <p class="card-email">rohan2003@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
       
        <div class="card">
            <div class="card-img">
                <img src=
"chait.jpeg" alt="User 2">
            </div>
            <div class="card-info">
                <h2 class="card-name">Chaitanya</h2>
                <p class="card-role"></p>
                <p class="card-email">wchait2@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src=
"sneha.jpeg" alt="User 2">
            </div>
            <div class="card-info">
                <h2 class="card-name">Sneha</h2>
                <p class="card-role"></p>
                <p class="card-email">snehasawant@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
       
             <div class="card">
            <div class="card-img">
                <img src=
"om.jpeg" alt="User 3">
            </div>
            <div class="card-info">
                <h2 class="card-name">Om</h2>
                <p class="card-role"></p>
                <p class="card-email">omwak2008@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
